[defaults]
roles_path       = ./roles
collections_path = ./.collections
inventory        = ./inventory
retry_files_enabled = false
nocows           = true
stdout_callback  = yaml

[inventory]
enable_plugins = host_list, yaml, ini
