[defaults]
roles_path       = ./roles
collections_path = ./.collections
inventory        = ./inventory
retry_files_enabled = false
interpreter_python  = auto_silent
nocows           = true
callback_result_format = yaml

[inventory]
enable_plugins = host_list, yaml, ini
